* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  background: #faf8ef;
}

.upper {
  height: 30%;
  position: relative;
}
.upper div.heading {
  color: #776e65;
  font-size: 18px;
  padding: 40px;
  position: relative;
}
.upper div.heading div.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left;
}
.upper div.heading div.score {
  float: right;
  padding: 30px;
  margin-right: 20px;
  background: #776e65;
  border-radius: 10px;
  color: white;
  position: relative;
}
.upper div.heading div.score:after {
  content: "Score";
  position: absolute;
  width: 100%;
  top: 10px;
  left: 12px;
}
.upper button#undo {
  background: #eee4da;
  position: absolute;
  top: 0;
  right: 0;
  border: #bbada0 10px solid;
  border-radius: 50%;
  font-size: 25px;
  z-index: 1000;
}
.upper button#undo i {
  color: grey;
}

.lower {
  height: 70%;
  position: relative;
}

.outer {
  padding: 10px;
  border-radius: 5px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
  background: #bbada0;
}

@media (min-width: 400px) {
  .outer {
    max-width: 100%;
  }
}
@media (min-width: 401px) {
  .outer {
    max-width: 400px;
  }
}
.inner {
  border-radius: 5px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(238, 228, 218, 0.35);
  color: #776e65;
  font-size: 20px;
  font-weight: bold;
}

.inner.newTile {
  animation: newTile 0.5s ease-out 0s;
}

@keyframes newTile {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.inner[data-value="2048"] {
  color: #f9f6f2;
  background: #edc22e;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
  font-size: 35px;
}

.inner[data-value="1024"] {
  color: #f9f6f2;
  background: #edc53f;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
  font-size: 35px;
}

.inner[data-value="512"] {
  color: #f9f6f2;
  background: #edc850;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
  font-size: 45px;
}

.inner[data-value="256"] {
  color: #f9f6f2;
  background: #edcc61;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
  font-size: 45px;
}

.inner[data-value="2"] {
  background: #eee4da;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.inner[data-value="4"] {
  background: #ede0c8;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.inner[data-value="8"] {
  color: #f9f6f2;
  background: #f2b179;
}

.inner[data-value="16"] {
  color: #f9f6f2;
  background: #f59563;
}

.inner[data-value="32"] {
  color: #f9f6f2;
  background: #f67c5f;
}

.inner[data-value="64"] {
  color: #f9f6f2;
  background: #f65e3b;
}

.inner[data-value="128"] {
  color: #f9f6f2;
  background: #edcf72;
  font-size: 45px;
}
